<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Inventory Management System</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        .nav-link {
            color: white !important; /* Ensure all links have consistent color */
        }

            .nav-link.active {
                background-color: transparent !important; /* Remove default highlight */
                color: #ddd !important; /* Set text color for active link */
            }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark">
        <div class="container">
            @Html.ActionLink("Inventory Management System", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Toggle navigation" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                @if (ViewBag.Role == "Admin")
                {
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                        <li class="nav-item">@Html.ActionLink("Supplier", "Supplier", "Admin", new { area = "" }, new { @class = "nav-link" })</li>
                        <li class="nav-item">@Html.ActionLink("Product", "Product", "Admin", new { area = "" }, new { @class = "nav-link" })</li>
                        <li class="nav-item">@Html.ActionLink("Order", "Order", "Admin", new { area = "" }, new { @class = "nav-link" })</li>
                        <li class="nav-item">@Html.ActionLink("Report", "Report", "Admin", new { area = "" }, new { @class = "nav-link" })</li>
                        <li class="nav-item">@Html.ActionLink("AuditLogs", "AuditLog", "Admin", new { area = "" }, new { @class = "nav-link" })</li>
                    </ul>
                }
                else if (ViewBag.Role == "Supplier")
                {
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                        <li class="nav-item">@Html.ActionLink("Product", "Product", "Supplier", new { id = ViewBag.Message }, new { @class = "nav-link" })</li>
                        <li class="nav-item">@Html.ActionLink("Order", "Order", "Supplier", new { area = "" }, new { @class = "nav-link" })</li>
                        <li class="nav-item">@Html.ActionLink("ReturnTrack", "ReturnTrack", "Supplier", new { area = "" }, new { @class = "nav-link" })</li>
                    </ul>
                }
                else
                {
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    </ul>
                }
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Inventory Management System</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
